<section id = "warehouses">
<h2>Galp천es</h2>

<div>
<%= link_to('Cadastrar Galp찾o', new_warehouse_path)%>
</div>
<% @warehouses.each do |warehouse| %>
  <div>
    <h3><%= link_to(warehouse.name, warehouse_path(warehouse.id)) %></h3>
    <dl>
      <dt><%= Warehouse.human_attribute_name(:code)%>:</dt>
      <dd><%= warehouse.code %></dd>
      <dt><%= Warehouse.human_attribute_name(:city)%>:</dt>
      <dd><%= warehouse.city %></dd>
      <dt><%= Warehouse.human_attribute_name(:area)%>:</dt>
      <dd><%= warehouse.area %> m2</dd>
    </dl>
  <div>
<% end %>

<% if @warehouses.empty? %>
  <p>N찾o existem galp천es cadastrados</p>
<% end %>
</section>